<main class="main">
  <div class="max-w-4xl mx-auto font-[sans-serif] p-6">
    <form
      class="form"
      [ngClass]="{ submitted: submitted }"
      [formGroup]="registerForm"
      autocomplete="off"
    >

      <header class="text-center mb-16">
        <h1 class="text-gray-900 text-3xl font-semibold">Formulario de Registro</h1>
      </header>
    
      <div class="form-errors" tabindex="-1" [ngClass]="{ active: submitted && errors }" aria-live="assertive">
        <ng-container *ngIf="submitted && errors">
          Hay errores en el formulario

          <ul class="form-errors-list mt-2">
            <li *ngIf="errors.name?.required" class="text-red-600"><span aria-hidden="true" class="fas fa-exclamation-triangle"></span>{{schema.name}}</li>
            <li *ngIf="errors.email?.required" class="text-red-600"><span aria-hidden="true" class="fas fa-exclamation-triangle"></span> {{schema.email.required}}</li>
            <li *ngIf="errors.email?.email" class="text-red-600"><span aria-hidden="true" class="fas fa-exclamation-triangle"></span> {{schema.email.valid}}</li>
            <li *ngIf="errors.password?.required" class="text-red-600"><span aria-hidden="true" class="fas fa-exclamation-triangle"></span> {{schema.password.required}}</li>
            <li *ngIf="errors.password?.minlength" class="text-red-600"><span aria-hidden="true" class="fas fa-exclamation-triangle"></span> {{schema.password.min}}</li>
          </ul>
        </ng-container>
      </div> 

      <fieldset class="block mt-8">
        <legend class="text-gray-800 text-sm block mb-8">Datos de Usuario</legend>
        <div class="grid grid-cols-1 gap-8">
          <div>
            <label class="text-gray-800 text-sm mb-2 block" for="name">Nombres y Apellidos</label>
            <input 
              id="name" 
              name="name" 
              type="text"
              class="block form-control-input bg-gray-100 w-full text-gray-800 text-sm px-4 py-3.5 rounded-md focus:bg-transparent outline-blue-500 transition-all"
              placeholder="Ingresa tu nombre completo" 
              required 
              aria-required="true" 
              autocomplete="off"
              formControlName="name"
            />

          </div>
          <div>
            <label class="text-gray-800 text-sm mb-2 block" for="email">Correo electronico</label>
            <input 
              id="email"
              name="email" 
              type="email"
              class="form-control-input bg-gray-100 w-full text-gray-800 text-sm px-4 py-3.5 rounded-md focus:bg-transparent outline-blue-500 transition-all"
              placeholder="Ingresa tu email" 
              required 
              aria-required="true" 
              autocomplete="new-email"
              formControlName="email"
            />


          </div>
          <div>
            <label class="text-gray-800 text-sm mb-2 block" for="password">Password</label>
            <div class="input-with-button">
            <input
              id="password" 
              name="password" 
              type={{typeFiledPassword}}
              class="form-control-input bg-gray-100 w-full text-gray-800 text-sm px-4 py-3.5 rounded-md focus:bg-transparent outline-blue-500 transition-all"
              placeholder="Ingresa tu password" 
              required 
              aria-required="true" 
              aria-describedby="password-detail" 
              autocomplete="new-password"
              formControlName="password"
            />

            <button class="btnPass" type="button" role="switch" aria-pressed="false" (click)="onShowPass()">
              <img class=" show-icon" src={{showPasswordImage}} alt="Mostrar password">
            </button>
            </div>
            <p id="password-detail" aria-hidden="true" class="mt-2">
  El Password debe tener al menos 8 caracteres. Debe tener al menos 1 número. Debe tener al menos 1 letra mayúscula. Debe tener al menos 1 carácter especial.
            </p>

            <p aria-live="polite" class="sr-only">{{srPasswordText}}</p>

          </div>
        </div>
      </fieldset>

      <div class="mt-12">
        <button 
          type="button" 
          class="py-3.5 px-7 text-sm font-semibold tracking-wider rounded-md text-white bg-blue-600 hover:bg-blue-700"
          (click)="onSubmit()"
          >
          Registro
        </button>
      </div>

    </form>
  </div>
</main>

<router-outlet></router-outlet>